body {
  background-image: url('./images/bg.jpg') ;
  background-position:  center;
  background-repeat:no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
}

.title{
    font-size:3em;
    font-weight:bold;
    
}

.hangman-word {
  letter-spacing: 1em;
  font-size: 1em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5%;
}

.btn {
  text-align: center;
  display: inline-block;
  width: 450px;
  letter-spacing: 5px;
  margin-top: 20px;
}
.btn button {
    background : rgb(255, 251, 12);
    font-size: 1em;
    cursor: pointer;
    width: 40px;
    margin: 5px 2px 2px 2px;
    outline:none;
    border: 2px solid rgb(0, 204, 255);
    border-radius: 10px ;
    padding-top: 5px;
    transition-duration: .3s;
}
.btn .reset{
    background: rgb(255, 0, 234);
    font-weight: bold;
    cursor: pointer;
    width: 60px;
    padding: 10px;
}

.btn button:hover{
  background: rgb(0, 0, 0);
  color: yellow;
  border: 2px solid rgb(217, 255, 0);
  transform: scale(1.5);
  
}

